.header {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.header .container {
  width: 1160px;
  margin: 0 auto;
}

.header .container .title {
  font-size: 24px;
  font-weight: bold;
}
