.info-congest {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 16px 20px 20px;
  border-radius: 15px;
}

.info-congest.level-1 {
  border: 2px solid #28c21a;
}

.info-congest.level-2 {
  border: 2px solid #f9ca44;
}

.info-congest.level-3 {
  border: 2px solid #fb7625;
}

.info-congest.level-4 {
  border: 2px solid #ea0800;
}

.info-congest .time {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  color: gray;
}

.info-congest .spot {
  font-size: 18px;
}

.info-congest .level {
  font-size: 40px;
  font-weight: bold;
}

.info-congest.level-1 .level {
  color: #28c21a;
}
.info-congest.level-2 .level {
  color: #f9ca44;
}
.info-congest.level-3 .level {
  color: #fb7625;
}
.info-congest.level-4 .level {
  color: #ea0800;
}
